<!doctype html>
<html>

<head>
  <title>login page</title>
</head>

<body>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Please enter your username" value="anwang0000">
        <input type="password" name="password" placeholder="Please enter your password" value="anwang0000">  
        <input class="btn btn-default" type="submit" value="Login">
    </form>
</body>

</html>