<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stripe Profile</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/3-col-portfolio.css">
</head>


<body>

    <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Stripe</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <h3> Payment History</h3>
            <div>
                <table class = "table" width = "30%" border="1">
                <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Item ID</th>
                <th>Price</th>
                </tr>

                <% for(var i=0; i<payments.length; i++) { %>
                <!-- {% for items in items %} -->
                <tr>
                <div>
                   <td align='center'><%= payments[i].UUID %></td>
                   <td align='center'><%= payments[i].timestamp %></td>
                   <td align='center'><%= payments[i].itemId %></td>
                   <td align='center'><%= payments[i].price %></td>
                </div>
                </tr>
                <!-- {% endfor %} -->
                <% } %>
                </table>
            </div>
        </div>

    </div>

    <!-- /.container -->

    <div class="container">

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Modern as-a-service</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <script type="text/javascript">

    </script>

</body>

</html>
